<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tasks List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="(tasks$ | async) as tasks">
    <app-task-item
      *ngFor="let task of tasks"
      [task]="task"
      (update)="onUpdate(task);"
      (delete)="onDelete(task);"
    >
    </app-task-item>
  </ion-list>
  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button (click)="onSave()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
